Chats_review_notes.md
docs/chats
_book
tmp
site_libs/
docs/.quarto
**/bootstrap/
**/quarto-html/
docs/**/libs/*
docs/**/*.html

.antigravity/embeddings/
.antigravity/brain/
.antigravity/cache/

## Ignore build artifacts
**/*.egg-info/
**/__pycache__/
.venv/
**/*.pyc
**/*.tar.gz
**/*.zip

# ignore lock files / temp files
*.~lock*

tmpAI/
